<div class="lay4_wrap">
	<br> <br> <br>
	<div class="lay4_inner">
		<!--            {{result}}{{result.date}}-->
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">日期</button>
				</span> <input date-range-picker class="form-control date-picker"
					type="text" ng-model="result.date" options="dateOpts"
					placeholder="点击选择起止日期" />
			</div>
		</div>
		<div class="form-group">
			<div>
				<label>材料编号:</label> <select selectpicker ng-model="result.mId"
					class="form-control " ng-options="c as c for c in mId" toggle
					multiple data-live-search="true" data-width="300px">
				</select>
			</div>
		</div>
		<div class="form-group">
			<div>
				<label>材料类型:</label> <select selectpicker
					ng-model="result.mCategory" class="form-control "
					ng-options="c as c for c in mCategory" toggle multiple
					data-live-search="true" data-width="300px">
				</select>
			</div>
		</div>
		<div class="form-group">
			<div>
				<label>材料名称:</label> <select selectpicker ng-model="result.mName"
					class="form-control" ng-options="c as c for c in mName" toggle
					multiple data-live-search="true" data-width="500px">
				</select>
			</div>
		</div>
		<!--
   <div class="form-group">
    <div>
        <label>规格:</label>
        <select selectpicker ng-model="result.size" class="form-control" ng-options="c as c for c in size" toggle multiple data-live-search="true" data-width="500px" style="position:static">

        </select>
    </div>
</div>
-->
		<!--
  <div class="form-group">
    <div>
        <label>单位:</label>
        <select selectpicker ng-model="result.param" class="form-control" ng-options="c as c for c in param" toggle multiple data-live-search="true" data-width="500px" style="position:static"> </select>
    </div>
</div>
-->
		<div class="form-group">
			<div>
				<label>订单编号:</label> <select selectpicker ng-model="result.orderId"
					class="form-control" ng-options="c as c for c in orderId" toggle
					multiple data-live-search="true" data-width="500px"
					style="position: static">
				</select>
			</div>
		</div>
		<div class="form-group">
			<div>
				<label>单据编号:</label> <select selectpicker ng-model="result.nId"
					class="form-control" ng-options="c as c for c in nId" toggle
					multiple data-live-search="true" data-width="500px"
					style="position: static">
				</select>
			</div>
		</div>
		<div class="form-group">
			<div>
				<label>厂商:</label> <select selectpicker ng-model="result.factory"
					class="form-control" ng-options="c as c for c in factory" toggle
					multiple data-live-search="true" data-width="500px">
				</select>
			</div>
		</div>
		<div>
			<button class="btn btn-primary" type="button" ng-click="apply()">查询</button>
		</div>
		<br>
	</div>
	<div>
		<div class="form-group" ng-if="superUser">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">不含税单价（总计）</button>
				</span> <input type="text" class="form-control" placeholder="计算中"
					ng-model="totalPerPriceNoTax" style="position: static">
			</div>
		</div>
		<div class="form-group" ng-if="superUser">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">不含税金额（总计）</button>
				</span> <input type="text" class="form-control" placeholder="计算中"
					ng-model="totalPerAmountNoTax" style="position: static">
			</div>
		</div>
		<div class="form-group" ng-if="superUser">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">税额（总计）</button>
				</span> <input type="text" class="form-control" placeholder="计算中"
					ng-model="totalTax" style="position: static">
			</div>
		</div>
		<div class="form-group" ng-if="superUser">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">价税统计（总计）</button>
				</span> <input type="text" class="form-control" placeholder="计算中"
					ng-model="totalTotalTax" style="position: static">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">购入数（总计）</button>
				</span> <input type="text" class="form-control" placeholder="计算中"
					ng-model="totalBuyNum" style="position: static">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">发出数（总计）</button>
				</span> <input type="text" class="form-control" placeholder="计算中"
					ng-model="totalSentNum" style="position: static">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">库存（总计）</button>
				</span> <input type="text" class="form-control" placeholder="计算中"
					ng-value="totalLeftNum" style="position: static">
			</div>
		</div>
		<input type="text" class="form-control" id="name"
			placeholder="查找 材料编号／材料类型／材料名称／订单编号／单据编号／厂商" ng-model="search">
	</div>
	<!--    <div ng-if="loading" class="mask" style="height:300px; text-align:center"> <img src="../../../resources/img/ajax-loader.gif" width="300" height="300"> </div>-->

	<br> {{prepareText}}
	<md-progress-linear md-mode="indeterminate" ng-if="preparing"></md-progress-linear>

	<div ng-if="prepare">
		<button class="btn btn-primary" type="button" ng-click="download()">{{downloadText}}</button>
	</div>
	<div ng-if="prepareOk">
		<a href="/backend/data/download/get/{{downloadKey}}"><button
				class="btn btn-primary" type="button">点击下载</button></a>
	</div>
	<div ng-if="loading" layout="row" layout-sm="column"
		layout-align="space-around"
		style="height: 300px; text-align: center; margin-top: 100px">
		<md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
	</div>
	<div class="lay4_inner">
		<table class="table" ng-if="show">
			<thead>
				<tr>
					<th>日期</th>
					<th>材料编号</th>
					<th>材料类型</th>
					<th>材料名称</th>
					<th>规格</th>
					<th>单位</th>
					<th>购入数</th>
					<th>发出数量</th>
					<th>订单编号</th>
					<th>单据编号</th>
					<th ng-if="superUser">不含税单价</th>
					<th ng-if="superUser">不含税金额</th>
					<th ng-if="superUser">税额</th>
					<th ng-if="superUser">税率</th>
					<th ng-if="superUser">价税统计</th>
					<th>厂商</th>
					<th>操作</th>
					<!--                   <th>申请付款日期</th>-->
				</tr>
			</thead>
			<tbody ng-repeat="record in content|filter:search">
				<tr>
					<td>{{record.date}}</td>
					<td>{{record.mId}}</td>
					<td>{{record.mCategory}}</td>
					<td>{{record.mName}}</td>
					<td>{{record.size}}</td>
					<td>{{record.param}}</td>
					<td>{{record.buyNum}}</td>
					<td>{{record.sentNum}}</td>
					<td>{{record.orderId}}</td>
					<td>{{record.nId}}</td>
					<td ng-if="superUser">{{record.priceNoTax}}</td>
					<td ng-if="superUser">{{record.amoutNoTax}}</td>
					<td ng-if="superUser">{{record.tax}}</td>
					<td ng-if="superUser">{{record.taxRate}}</td>
					<td ng-if="superUser">{{record.total}}</td>
					<td>{{record.factory}}</td>
					<td class='row'>
						<button class="btn btn-winfo"
							ng-click="updateRecord(record.id)">修改</button>
								&nbsp;&nbsp;
						<button class="btn btn-danger"
							ng-click="deleteRecord(record.id)">删除</button>
					</td>
					<!--                   <td>{{record.requestDate}}</td>-->
				</tr>
			</tbody>
		</table>
	</div>
</div>